.lipisha.has-error input {
  border-width: 2px;
}

.lipisha-validation.text-danger:after {
  content: 'Validation failed';
}

.lipisha-validation.text-success:after {
  content: 'Validation passed';
}

.input-select {
    display: block;
    width: 100%!important;
    padding: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}